@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Models

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TradeMate</title>

	<link rel="stylesheet" href="~/lib/bootstrap/5.3.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>setTheme("@((Context.Session.GetString("data-bs-theme") ?? "auto").ToLowerInvariant())")</script>

	<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
		<symbol id="theme-auto-icon" viewBox="0 0 16 16">
			<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
		</symbol>
		<symbol id="theme-light-icon" viewBox="0 0 16 16">
			<path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
		</symbol>
		<symbol id="theme-dark-icon" viewBox="0 0 16 16">
			<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
			<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
		</symbol>
	</svg>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
		<div class="container-xxl">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TradeMate</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
			        aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
				</ul>

				<ul class="d-flex flex-column flex-sm-row gap-2 align-items-sm-center navbar-nav">
					<li class="nav-item">
						<span class="nav-link">@Context.Session.GetString("AccountEmail")</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
					</li>
					<li class="vr d-none d-sm-inline-block"></li>
					<li class="dropdown nav-item">
						<button class="d-flex align-items-center dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg class="my-1 active" style="fill: currentColor; height: 1rem; width: 1rem;">
								<use href="@Theme.GetThemeIconPath(Theme.GetActiveTheme(Context) ?? Theme.Value.Auto)" />
							</svg>
							<span class="ms-2 d-sm-none">Toggle theme</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-sm-end">
							@foreach (Theme.Value theme in Enum.GetValues(typeof(Theme.Value)))
							{
								<li><a class="btn d-flex align-items-center dropdown-item my-1 text-capitalize @(Theme.IsActive(theme, Context) ? "active" : "")" asp-controller="Home" asp-action="ChangeTheme" asp-route-redirectPage="@Context.Request.GetEncodedPathAndQuery()" asp-route-theme="@theme">
									<svg class="me-2 opacity-50 " style="fill: currentColor;" height="1rem" width="1rem">
										<use href="@Theme.GetThemeIconPath(theme)"></use>
									</svg>
									@theme
								</a></li>
							}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="container">
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</div>

<footer class="border-top footer text-muted">
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>